.card-hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.title {
  color: #7D7F80;
  font-weight: bold;
}

.container-header {
  background-color: #6893F6
}

.container-body {
  background-color: #FBFDFE
}